# Environment variables for My Tasks Demo
# These will be populated by Amplify CLI

NEXT_PUBLIC_AWS_REGION=us-east-1
NEXT_PUBLIC_AWS_USER_POOL_ID=us-east-1_ABC123
NEXT_PUBLIC_AWS_USER_POOL_CLIENT_ID=client123
NEXT_PUBLIC_AWS_APPSYNC_GRAPHQLENDPOINT=https://abc123.appsync-api.us-east-1.amazonaws.com/graphql
NEXT_PUBLIC_AWS_S3_BUCKET=mytasksdemo-storage
